@font-face {
	font-family: 'IcoMoon';
	src: url('../fonts/IcoMoon.eot');
	src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('../fonts/IcoMoon.woff') format('woff'),
		url('../fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
    background-image:url('../images/footer-bg2.jpg');
    color: #463904;
    font-family: "Georgia", serif;
    margin: 0;
    }
    
.wrap {
    background-image:url('../images/bg.jpg');
    }
    
    .wrap:after {
        content: "";
        width: 100%;
        height: 10px;
        display: block;
        background-image: url('../images/border-bg.jpg');    
        }
    
#content {
    padding: 20px 0;    
    }
    
h1, h2, h3, h4 {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    }
    

h1 {
    border-bottom: 1px solid rgba(153, 153, 102, .2);
    line-height: 60px;
    margin: 0 0 40px 0;
    }
    
    h1:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,.6); 
        display: block;
        }
        
h2 {
    margin: 2em 0 1em 0;
    }
        
h3 {
    margin: 2em 0 1em 0;
    }
    
p, li {
    font-size: 14px;
    line-height: 150%;
    }

a { text-decoration: none; }    
a:link { color: #AC3F13; }
a:visited { color: #AC8171; }
a:hover, a:active { color: #D83E00; }

:focus {
    outline-color: #d1b111; 
}


/* Header
----------------------------------*/
    
header {
    background-image:url('../images/header-bg.jpg');
    color: #fff;
    }
    
    header:after {
        content: "";
        width: 100%;
        height: 10px;
        display: block;
        background-image: url('../images/border-bg.jpg');
        }
    
header .container {
    height: 74px;
    background:url('../images/header-bg2.jpg') no-repeat;
    margin: 0 auto;
    padding: 10px 0 0 0;
    }

header h1 {
    margin: 0;
    }
        
header nav {
    float: left;
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    }
    
    header nav ul { 
        display: inline-block;
        margin: 40px 0 0 20px;
        padding: 0; 
        }
    
    header nav li {
        display: inline-block;
        list-style-type: none;
        margin: 0 10px 0 0;
        }
        
    
header a {
    text-decoration: none;
    font-weight: bold;
    }

header a:link, header a:visited {
    color: #fff;
    opacity: .7;
    }
    
header a:active, header a:hover {
    opacity: 1;
    }
    
header .advanced-search-link {
    clear: right;
    float: right;
}
    
header .simple-search {
    float: right;
    position: relative;
    }

    header .simple-search fieldset {
        border: 0;
    }
    
    header .simple-search input[type=submit] {
        width: 17px;
        height: 18px;
        background:url('../images/search-icon.png') no-repeat;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 20px;
        bottom: 15px;
        text-indent: -999px;
    }
    
    header .simple-search input[type=text] {
        background-color: #973720;
        background-color: rgba(0, 0, 0, .08);
        border: 0;
        color: #fff;
        color: rgba(255, 255, 255, .9);
        position: relative;
        padding: 5px;
        margin: 30px 0 0 0;
        font-size: 16px;
        font-family: "Maven Pro", sans-serif;
        }
        
    header .simple-search input[type=text]:after {
    	content: "\0023";
    	font-family: 'IcoMoon';    	
        font-size: 20px;
        color: rgba(255,255,255,.6);
        position: absolute;
        top: 3px;
        right: 3px;
        }


/* Footer
----------------------------------*/
        
footer {
    color: #c0cdd0;
    font-family: "Josefin Sans", sans-serif;
    padding: 40px 0 !important;
    }
    
    footer img {
        margin: 0 20px 0 0;
        vertical-align: middle;
        opacity: .5;
    }
    
    footer a:link { color: #C2A57B; }
    footer a:visited { color: #DAD06D; }
    footer a:hover, footer a:active { color: #fff; }
    
    footer a:hover img, footer a:active img {opacity: 1;}
        
.logo {
    width: 294px;
    height: 58px;
    background-image:url('../images/logo.png');
    display: inline-block;
    margin: 0 0 0 -5px;
    text-indent: -9999px;
    float: left;
    }
    
    .logo a {
        width: 100%;
        height: 100%;
        display: block;
        }

#page-menu h2 {
    margin-top: 18px;
    }
    

#page-menu ul {
    list-style-type: none;
    margin: 0 0 40px 0;
    padding: 0;
    }
    
    #page-menu li {
        border-top: 1px solid rgba(153, 153, 102, .2);
        border-bottom: 1px solid rgba(255,255,255, .6);
        padding: 10px 0;
        }
        
    #page-menu li:first-child {
        border-top: 0;
        }
        
    #page-menu li:last-child {
        border-bottom: 0;
        }
        
    #page-menu .sub-menu {
        margin: 10px 0 10px 10px;
        }
        
    #page-menu .sub-menu li {
        border: 0;
        margin: 0;
        padding: 5px 0;
        }
        
#page-menu .current {
    font-weight: bold;
    font-style: italic;
    }
    
    #page-menu .current a:after {
        content: " \00bb";
        }


/* Homepage
----------------------------------*/

#home .books {
    border-top: 1px solid rgba(255,255,255, .6);
    border-bottom: 1px solid rgba(153, 153, 102, .2);
    clear: both;
    margin: 1em 0;
    overflow: auto;
    text-align: center;
    }
    
    #home .books:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(153, 153, 102, .2);
        display: block;
        margin: 0 0 1em 0;
        }
        
    #home .books:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255, .6);
        clear: both;
        display: block;
        margin: 1em 0 0 0;
        }
        
    #home .books:focus {
        outline: none;
        }

#home .book-cover {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    }
    
#home .button {
    width: 100%;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    color: #F2F0E4;
    background-image: url('../images/border-bg.jpg');
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    display: inline-block;
    float: left;
    font-family: "Maven Pro", sans-serif;
    font-size: 16px;
    padding: 10px 0;
    text-align: center;
    text-shadow: -1px -1px 1px rgba(0,0,0,.6);
    }

#home .carousel .previous, #home .carousel .next {
    width: 18px;
    height: 30px;
    background: url('../images/arrow.png') no-repeat;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin: 50px 0;
    vertical-align: top;
    }
    
    #home .carousel .next {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        }
        
    #home .carousel .disabled {
        cursor: default;
        opacity: .25;
        }

#home .carousel ul {
    margin: 5px 0;
    padding: 0;
    list-style-type: none;
    }
        
    #home .carousel li {
        border: 1px solid rgba(0,0,0,.25);
        box-shadow: 0 0 5px #969696;
            -webkit-box-shadow: 0 0 5px #969696;
            -moz-box-shadow: 0 0 5px #969696;
            -o-box-shadow: 0 0 5px #969696;        
        float:left;
        width: 90px;
        height: 125px;
        text-align:center;
        overflow: hidden;
        margin: 0 5px 20px 5px;
        padding: 0;
        }
        
        #home .carousel li:first-child {
            margin-left: 0;
            }
        
    #home .carousel li a {
        float: left;
        display: inline-block;
        overflow: visible;
        text-align: center;
        padding: 0;
        }

#home .carousel-wrap {
    width: 90%;
    margin: 0 15px 0 15px;
    display: inline-block;
    padding: 5px 0;
    }
    
#home .featured {
    width: 476px;
    margin: 0;
    padding: 0;
    border-image: url('../images/featured-border.png') 0 2 0 2;
        -webkit-border-image: url('../images/featured-border.png') 0 2 0 2;
        -moz-border-image: url('../images/featured-border.png') 0 2 0 2;
        -o-border-image: url('../images/featured-border.png') 0 2 0 2;
    border-width: 0 2px;
    }
    
    #home .featured h2 {
        border-bottom: 1px solid rgba(153, 153, 102, .2);
        margin: 0 0 20px 0;
        padding: 20px 0 0 0;
        text-align: center;
        }
        
        #home .featured h2:after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: rgba(255,255,255,.6);
            display: block;
            margin: 10px 0 0 0;        
            }
        
    #home .featured h3 {
        margin: 1em 0;
        padding: 0 10px;
        }
        
    #home .featured p {
        padding: 0 10px; 
        }
        
    #home .featured img {
        border: 1px solid #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,.3);
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
            -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
        float: left;
        margin: 0 20px 0 10px;
        }
    
#home .intro {
    padding: 5px 0;
    }
    
    #home .intro h1 {
        border: 0;
        line-height: 1.25em;
        margin-bottom: .5em;
        }
        
    #home .intro h1:after {
        background-color: transparent;
        }
        
#home .theme-icons {
    font-size: 18px;
    padding: 5px 0;
    }
    
#home .theme-icons div {
    margin-bottom: 20px;
    position: relative;
    }
    
#home .theme-icons a img {
    margin: -15% 0 0 0;
    vertical-align: bottom;
    }
    
#home .theme-icons a { 
    max-height: 160px;
    color: #fff; 
    text-decoration: none;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    display: block;
    overflow: hidden;
    }
        
#home .theme-icons img {
    width: 100%;
    }
    
#home .theme-icons span {
    background-color: rgba(51,28,13,.6);
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    width: 99.5%;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    bottom: 1px;
    left: 1px;
    }

#home .twitter, #home .toolkit {
    width: 240px;
    margin: 0;
    }
    
#home .twitter h3, #home .toolkit h3{
    width: 100%;
    border-bottom: 1px solid rgba(153, 153, 102, .2);
    margin: 0 0 10px 0;
    text-align: center;
    }
    
    #home .twitter h3:before, #home .toolkit h3:before {
        content: "";
        width: 100%;
        height: 55px;
        display: block;
        margin: 0 0 10px 0;
        }
        
        
        #home .twitter h3:before {
            background: url('../images/twitter-heading.png') no-repeat;
            background-position: center;            
            }
            
        #home .toolkit h3:before {
            background: url('../images/toolkit-heading.png') no-repeat;
            background-position: center;
            }
            
    #home .twitter h3:after, #home .toolkit h3:after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255,.6);
        display: block;
        margin: 10px 0 0 0;
        }
        
    #home .twitter p, #home .toolkit p {
        padding: 0 20px;
    }


/* Browse Themes
----------------------------------*/

#themes h3 {
    margin-top: 1em;
    }

#themes .theme-icon {
    width: 100%;
    border-radius: 100px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    overflow: hidden;
    }
    
    #themes .theme-icon img {
        width: 100%;
        vertical-align: bottom;
        }



/* Show Theme
----------------------------------*/

#collections .author-image {
    max-width: 100px;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    float: left;
    margin: 0 20px 0 0;
    }

#collections #content {
    padding: 70px 0;
    }

#collections .credit {
	width: 90%;
	word-wrap: break-word;
    font-size: 12px;
	font-style: italic;
	}
	
	#collections .credit p {
        font-size: 12px;
	}
    
#collections h1 {
    border: 0;
    margin: 0;
    }
    
    #collections h1:after {
        background-color: transparent;
        }
    
h2.essay {
    font-family: "Georgia", serif;
    font-weight: normal;
    margin: 1em 0 0 0;
    text-transform: none;
    }
    
.essay-author {
    margin-top: 0;
    }
    
#collections .theme-icon {
    width: 90%;
    border: 1px solid #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 0;
    }
    
#collections .icon-credit {
    font-style: italic;
    }    
    
.theme-book {
    clear: left;
    }
    
.theme-book-cover {
    width: 90px;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    float: left;
    margin: 0 10px 40px 0;
    }
    
.theme-book-meta {
    display: inline-block;
    margin: 0;
    }
    
    .theme-book-title {
        font-style: italic;
        font-weight: bold;
        }
        

/* Browse Books
----------------------------------*/

#books .row {
    margin: 0 0 50px 0;
    }

#items .book-thumbnail {
    background: url('../images/shelf-small.png') no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding: 0 0 4% 0;
    text-align: center;
    }

#items .book-thumbnail img {
    width: 66%;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: auto;
    }

#items .book-meta p {
    margin: 0;
    }
    
#items .book-title {
    font-weight: bold;
    font-style: italic;
    }


/* Show Book
----------------------------------*/

#item .author-image {
    max-width: 100px;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    float: left;
    margin: 0 20px 0 0;
    }

    
#item .book-image {
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);    
    display: inline-block;
    }
    
    #item .book-image img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
    
    #item .lightbox.book-image {
        max-width: 100%;
    }
        
#item .book-theme {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    }
        
#item .book-title {
    font-family: "Georgia", serif;
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
    margin: 0;
    text-transform: none;    
    }

#item .book-author {
    font-size: 16px;
    font-style: normal;
    }
    
#item #content {
    padding: 70px 0;
    }

#item #right-content ul {
    padding: 0 0 0 1em;
    }

#item #page-menu ul {
    margin: 1em 0;
    }

#item #right-content {
    word-wrap: break-word;
    }    


/* Show Item
----------------------------------*/

#item .item-title {
    font-family: "Georgia", serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-transform: none;  
}

#item .no-image {
    width: 80%;
    background-color: #ccc;
    border: 1px solid rgba(255,255,255,.25);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    
    font-size: 24px;
    text-align: center;
    margin: 0 0 1em 0;
    padding: 60% 5%;
    }
    
#item #right-content ul.simplePagerNav, #item #right-content .simplePagerContainer p  {
    display: inline-block;
    margin: 1em 0 0 0;
    padding: 0;
}

    #item #right-content ul.simplePagerNav li {
        list-style-type: none;
        display: inline-block;
        padding: 0 10px;
    }
    
    #item #right-content ul.simplePagerNav li.currentPage {
        font-weight: bold;
    }



    
/* Resources Landing Page
----------------------------------*/

#resources #content {
    padding: 50px 0;
    background:url('../images/resources-bg.png') no-repeat;
    }

#resources h1 {
    border: 0;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    text-align: center;
    }
    
    #resources h1:after {
        height: 0;
        }

#resources .intro {
    margin-bottom: 40px;
    }
        
#resources .intro p {
    font-size: 20px;
    margin-top: 0;
    text-align: center;
    }

#resources .item-types h3 {
    margin-top: 0;
    }
    
#resources .item-types h3:before {
    content: "";
    display: block;
    width: 100%;
    height: 150px;
    background-size: 100%;    
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
    margin: 0 0 1em 0;
    }
    
    #resources .item-types #images h3:before { background-image:url('../images/resources/images.jpeg'); }
    #resources .item-types #texts h3:before { background-image:url('../images/resources/texts.jpeg'); }
    #resources .item-types #websites h3:before { background-image:url('../images/resources/websites.jpeg'); }
    #resources .item-types #audio-visual h3:before { background-image:url('../images/resources/audiovisual.jpeg'); }
    #resources .item-types #maps h3:before { background-image:url('../images/resources/maps.jpeg'); }
    #resources .item-types #further-reading h3:before { background-image:url('../images/resources/furtherreading.jpeg'); }
    
    
#resources .sidebar {
    border-image: url('../images/featured-border.png') 0 2 0 0;
        -webkit-border-image: url('../images/featured-border.png') 0 2 0 0;
        -moz-border-image: url('../images/featured-border.png') 0 2 0 0;
        -o-border-image: url('../images/featured-border.png') 0 2 0 0;
    border-width: 0 2px 0 0;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
    padding: 0 20px 0 0;    
    }

#resources .sidebar .theme-icon {
    width: 27px;
    height: 27px;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 100px;    
    box-shadow: 0 0 5px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 5px rgba(0,0,0,.3);
    display: inline-block;
    margin-bottom: 20px;
    overflow: hidden;
    }
    
#resources .sidebar .theme-icon img {
    width: 100%;
    height: auto;
    }
    
#resources .sidebar .themes h3 {
    margin: 0;
    }
    
#resources #content .simple-search {
    text-align: center;
    }

#resources #content .simple-search fieldset {
    border: 0;
    margin: auto;
    }
    
#resources #content .simple-search input[type=text] {
    width: 70%;
    border: 1px solid #DCD4B4;
    box-shadow: inset 0 0 10px #EFEDE7;
    font-size: 24px;
    margin: 0;
    outline: none;
    padding: 10px;
    vertical-align: top;
    }

#resources #content .simple-search input[type=submit] {
    background-image:url('../images/border-bg.jpg');
    border: 2px solid rgba(0,0,0,.2);
    border-radius: 3px;
    color: #F2F0E4;
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    margin: 0 0 0 -10px;
    padding: 11px 20px;
    text-shadow: -1px -1px 1px rgba(0,0,0,.5);
    vertical-align: top;
    }


/* Browse Resources
----------------------------------*/

#items #accordion li a.top:after {
    content: "";
    display: inline-block;
    border-top: 5px solid transparent;
    border-left: 5px solid #AC3F13;
    border-bottom: 5px solid transparent;
    margin: 0 0 0 10px;
}

#items #accordion li a.top.active:after {
    transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
}

#items #filter-list {
    border-bottom: 1px solid rgba(255,255,255, .6);
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    }
    
    #items #filter-list li {
        background: url('../images/border-bg.jpg') repeat;
        border: 1px solid #4E3B05;
        border-radius: 5px;
        box-shadow: 0 0 10px #b9b9b9;
            -webkit-box-shadow: 0 0 10px #b9b9b9;
            -moz-box-shadow: 0 0 10px #b9b9b9;
            -o-box-shadow: 0 0 10px #b9b9b9;
        color: rgba(255,255,255,.9);
        display: inline-block;
        padding: 5px 10px;    
    }

#items .item-description p {
    margin-bottom: 0;
    }
    
#items .item-meta h2 {
    margin: 0 0 auto 0;
    }

#items .item.row {
    border-top: 1px solid rgba(153, 153, 102, .2);
    border-bottom: 1px solid rgba(255,255,255, .6);
    padding: 30px 0;
    margin-bottom: 0;
    }
    
    #items .item.row:first-child {
        border-top: 0;
        padding: 19px 0 30px 0;
        }
        
    #items .item.row:last-child {
        border-bottom: 0;
        }

#items .item-thumbnail {
    height: 110px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
        -o-box-shadow: 0 0 10px rgba(0,0,0,.3);
    overflow: hidden;
    }

#items .item-thumbnail img {
    width: 100%;
    }
    
#items .pagination {
    float: right;
    margin: .5em 0;
    }
    
    #items .pagination_list {
        box-shadow: 0 0 10px #b9b9b9;
            -webkit-box-shadow: 0 0 10px #b9b9b9;
            -moz-box-shadow: 0 0 10px #b9b9b9;
            -o-box-shadow: 0 0 10px #b9b9b9;
        border-radius: 5px;
        display: inline-block;
        list-style-type: none;
        margin: 0 0 0 20px;
        padding: 0;
        text-align: right;
        font-size: 0;
        }
    
    #items .pagination li, #items .pagination p {
        display: inline-block;
        font-family: "Josefin Sans", sans-serif;
        font-size: 21px;
        font-weight: bold;    
        margin: 0;
        text-transform: uppercase;
        }
        
    #items .pagination_list .pagination_next,
    #items .pagination_list .pagination_previous {
        background: url('../images/border-bg.jpg') repeat;
        border: 1px solid #4E3B05;
        border-radius: 5px;
        }
        
        #items .pagination_list .pagination_next a,
        #items .pagination_list .pagination_previous a {
            padding: 10px;
            font-size: 0;
            display: inline-block;
            line-height: 0;
            }
            
        #items .pagination_list .pagination_next a:after {
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-left: 14px solid #4E3B05;
            border-bottom: 7px solid transparent;
            display: inline-block;
            line-height: 0;
            padding: 0;
            }
            
        #items .pagination_list .pagination_previous a:after {
            content: "";
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-right: 14px solid #4E3B05;
            border-bottom: 7px solid transparent;
            display: inline-block;
            line-height: 0;
            padding: 0;
            }
            
        #items .pagination_list .pagination_next.both{
            border-radius: 0 5px 5px 0;
            margin-left: 0;
            }
            
        #items .pagination_list .pagination_previous.both{
            border-radius: 5px 0 0 5px;
            border-right: 0;
            }